*~
*.a
*.marks
*.dylib
*.lo
*.o
*.pb.*
*.pc
*.pyc
.tags*
.deps
.dirstamp
.DS_Store
/CMakeFiles/*
/build*
/debian/*.debhelper
/debian/*.log
/debian/*.substvars
/debian/stamp-*
/debian/files
/debian/libmedida-dbg/
/debian/libmedida-dev/
/debian/libmedida0-dbg/
/debian/libmedida0/
/debian/tmp/
/dist/*
/obj-*/
/tags
/target
/test/CMakeFiles/*
/test/test-medida
/test/gtest-1.6.0/build-aux/config.guess.cdbs-orig
/test/gtest-1.6.0/build-aux/config.sub.cdbs-orig
CMakeCache.txt
Makefile
