*.a
*.cache
*.exe
*.filters
*.idb
*.la
*.lastbuildstate
*.lib
*.log
*.o
*.obj
*.opensdf
*.pdb
*.sdf
*.suo
*.tlog
*.user
*~
*.swp
.deps
.dirstamp
/Makefile
/Makefile.in
/TAGS
/aclocal.m4
/ar-lib
/autocheck
/autom4te.cache
/cereal
/compile
/config.h
/config.h.in
/config.log
/config.status
/configure
/configure.lineno
/depcomp
/doc/html
/doc/xdrc.1
/getopt.h
/install-sh
/missing
/msvc_xdrpp/*/Debug
/msvc_xdrpp/*/Release
/msvc_xdrpp/Debug
/msvc_xdrpp/Release
/stamp-*
/test-driver
/tests/*.hh
/tests/test-*
/xdrc/parse.cc
/xdrc/parse.hh
/xdrc/parse.h
/xdrc/scan.cc
/xdrc/xdrc
/xdrpp-uninstalled.pc
/xdrpp.pc
/xdrpp/*.hh
/xdrpp/build_endian.h
/xdrpp/config.h
/ylwrap
xdrpp-*.tar.gz

#Windows specific
**/x64/*

